<md-content flex layout-padding>
    <md-card>
        <md-card-content>
            <md-button class="md-fab md-primary" aria-label="Create new quiz" href="index.html#/quiz/edit">
                <md-icon>add</md-icon>
            </md-button>
            <md-list>
                <md-list-item ng-repeat="quiz in quizzes">
                    <div class="md-list-item-text">
                        <h2>{{ quiz.question }}</h2>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</md-content>