<div layout="row">
    <section flex="30">
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-theme-light-blue">
                <h1 class="md-toolbar-tools">Categories</h1>
            </md-toolbar>
            <md-content layout-padding style="background: #84ffff;">
                <md-list>
                    <md-list-item ng-repeat="category in categories" ng-click="selectCategory(category)">
                        {{ category }}
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
    </section>
    <md-content flex layout-padding layout-align="end center">
        <div layout="row" layout-align="space-around">
            <md-progress-circular ng-show="loading" md-mode="indeterminate" md-diameter="120"></md-progress-circular>
        </div>
        <md-button class="md-fab md-primary fixed-right-bottom" aria-label="Create new quiz"
                   href="index.html#/quiz/edit">
            <md-tooltip md-direction="top">
                Add Quiz
            </md-tooltip>
            <md-icon>add</md-icon>
        </md-button>

        <div flex>
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="quiz in quizzes" class="secondary-button-padding">
                    <md-card flex>
                        <md-card-header>
                            <md-card-avatar>
                                <img ng-src="{{ quiz.creator.avatar }}" class="md-user-avatar" title="user avatar"/>
                            </md-card-avatar>
                            <md-card-header-text layout="row">
                                <div layout="column" flex="95">
                                    <a class="md-title" style="cursor: pointer;"
                                       ng-click="goToProfile(quiz.creator._id)">
                                        {{ quiz.creator.firstName + ' ' + quiz.creator.lastName }}
                                    </a>
                                    <span class="md-subhead">{{ quiz.createdAt | date: 'dd-MM-yyyy' }}</span>
                                </div>
                                <div flex>
                                    <md-icon style="color: white;cursor: pointer;"
                                             ng-show="user.isAdmin || quiz.creator._id == user._id"
                                             ng-click="deleteQuiz(quiz)">clear
                                    </md-icon>
                                </div>
                            </md-card-header-text>
                        </md-card-header>
                        <md-card-content layout="row" layout-align="space-between">
                            <div class="md-list-item-text">
                                <div layout="row">
                                    <div layout="column" flex="80">
                                        <h2><a class="quiz-question" ng-href="/#/quiz-detail/{{quiz._id}}">{{ quiz.question }}</a></h2>
                                        <div google-plus="quiz.url"></div>
                                    </div>
                                    <div star-rating rating-value="quiz.rating" max="5" flex
                                         on-rating-selected="rateQuiz(quiz, rating)"></div>
                                </div>
                                <div layout="row">
                                    <img ng-src="{{ quiz.imageSource }}" mg-show="quiz.imageSource != null"
                                         class="card-media quiz-image"/>
                                </div>
                                <md-input-container ng-hide="quiz.choices.length">
                                    <label>Answer</label>
                                    <input ng-model="quiz.userAnswer" name="answer">
                                </md-input-container>
                                <md-list>
                                    <md-list-item ng-repeat="choice in quiz.choices" layout="row"
                                                  layout-wrap>
                                        <div class="md-item-text" flex="50">
                                            <md-checkbox ng-model="choice.userChoice"
                                                         ng-change="updateQuizSubmitButtonStatus(quiz)">
                                                {{ choice.content }}
                                            </md-checkbox>
                                        </div>
                                    </md-list-item>
                                </md-list>
                                <md-chips ng-model="quiz.categories" readonly="true"></md-chips>
                            </div>
                        </md-card-content>
                        <md-card-actions layout="row">
                            <md-button ng-href="/#/quiz-detail/{{quiz._id}}" style="font-size: 12px;">
                                <md-icon>question_answer</md-icon>
                                {{quiz.comments.length}} comments
                            </md-button>

                            <div layout="row" flex="80" layout-align="end end">
                                <md-button class="md-raised md-accent"
                                           ng-show="quiz.userAnswer.length > 0 || quiz.showSubmitButton"
                                           ng-click="submitAnswer(quiz)">Submit
                                </md-button>
                            </div>

                        </md-card-actions>
                    </md-card>
                </md-list-item>
            </md-list>
        </div>
    </md-content>
</div>
