.card-header {
    background-color: #0091ea;
    color: white;
}

.img-preview {
    border: dashed grey 2px;
}

.quiz-image {
    background: #fff;
    border-radius: 2px;
    display: block;
    float: left;
    margin: 1rem;
    position: relative;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

md-card-title, md-card-header {
    background: #0091ea;
    color: white;
}

md-card md-card-header md-card-header-text .md-subhead {
    color: rgba(255,255,255,0.64);
}

.toolbar-avatar{
    display: inline;
    vertical-align: middle;
    width: 44px;
    height: 44px;
    border: solid 1px black;
}

.fixed-right-bottom {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
}

.votes {
    display: table-cell;
    vertical-align: middle;
}