<md-content class="md-padding" layout="column">
    <md-card flex="60">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{ user.firstName + ' ' + user.lastName }}</span>
                <span class="md-subhead"><b>Join Date:</b> {{ user.joinDate | date: 'dd-MM-yyyy' }}</span>

                <md-switch ng-model="isEdit" ng-show="canEdit">
                    Edit
                </md-switch>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout-padding>
            <md-content>
                <div layout="row">
                    <md-input-container flex="30">
                        <label><b>Email</b></label>
                        <span>{{user.email}}</span>
                        <input ng-model="user.email" type="text" ng-show="false">
                    </md-input-container>
                    <md-input-container flex="30">
                        <label><b>Score</b></label>
                        <span>{{user.score}}</span>
                        <input ng-model="user.score" type="text" ng-show="false">
                    </md-input-container>
                </div>
                <div flex></div>
                <div layout="row">
                    <md-input-container flex="30">
                        <label><b>First Name</b></label>
                        <span ng-hide="isEdit">{{user.firstName}}</span>
                        <input ng-model="user.firstName" type="text" ng-show="isEdit">
                    </md-input-container>
                    <md-input-container flex="30">
                        <label><b>Last Name</b></label>
                        <span ng-hide="isEdit">{{user.lastName}}</span>
                        <input ng-model="user.lastName" type="text" ng-show="isEdit">
                    </md-input-container>
                    <md-input-container flex="30" ng-hide="isEdit">
                        <label><b>Birthday</b></label>
                        <span ng-hide="isEdit">{{ user.birthDay | date: 'dd-MM-yyyy' }}</span>
                        <input ng-model="user.birthDay" type="text" ng-show="false">
                    </md-input-container>
                    <div flex="30" ng-show="isEdit">
                        <label><b>Birthday</b></label>
                        <md-datepicker ng-model="user.birthDay" ng-show="isEdit">
                            Birthday
                        </md-datepicker>
                    </div>
                </div>
                <div flex></div>
                <div class="md-media-lg card-media">
                    <img ng-hide="isEdit" ng-src="{{ user.avatar }}" width="200px" height="200px"
                         class="md-user-avatar quiz-image" title="user avatar"/>
                    <div>
                        <upload-image ng-show="isEdit" ng-model="userImage" image-width="200"
                                      image-height="200"></upload-image>
                    </div>
                </div>
            </md-content>
        </md-card-content>
        <md-card-actions layout="row">
            <md-button ng-show="isEdit" ng-click="update(user)" class="md-primary">Ok</md-button>
            <md-button ng-show="isEdit" ng-click="cancel()">Cancel</md-button>
        </md-card-actions>
    </md-card>
    <div flex="100" layout="row">
        <md-card flex="50">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Recent quizzes created</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout-padding>
                <md-content>
                    <md-list>
                        <md-list-item ng-repeat="quiz in quizzes">
                            <span class="md-headline"><b>{{ quiz.question }}</b></span>
                            <div flex></div>
                            <span class="md-subhead"><b>Date:</b> {{ quiz.createdAt | date: 'dd-MM-yyyy' }}</span>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-card-content>
        </md-card>
        <md-card flex="50">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Recent quizzes answered</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout-padding>
                <md-content>
                    <md-list>
                        <md-list-item ng-repeat="quiz in user.answeredQuizzes">
                            <span class="md-headline"><b>{{ quiz.question }}</b></span>
                            <div flex></div>
                            <span class="md-subhead"><b>Date:</b> {{ quiz.createdAt | date: 'dd-MM-yyyy' }}</span>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-card-content>
        </md-card>
    </div>
</md-content>
