<md-content class="md-padding">
    <md-card>
        <md-card-content class="card-header">
            <h1>Create</h1>
        </md-card-content>

        <md-divider></md-divider>

        <md-card-content>
            <form name="headerFields">
                <div>
                    <md-input-container>
                        <label>Question</label>
                        <input ng-model="quiz.question" name="question" required>
                        <div ng-messages="headerFields.question.$error" ng-if="headerFields.question.$dirty" role="alert" multiple>
                            <div ng-message="required">This field is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <md-switch ng-model="quiz.isMultiChoice" aria-label="Switch 1">
                    Multiple-choice
                </md-switch>
                <div ng-hide="quiz.isMultiChoice">
                    <md-input-container flex="100">
                        <label>Answer</label>
                        <input ng-model="quiz.answer" name="answer" required>
                        <div ng-messages="headerFields.answer.$error" ng-if="headerFields.answer.$dirty" role="alert" multiple>
                            <div ng-message="required">This field is required.</div>
                        </div>
                    </md-input-container>
                </div>

                <div ng-show="quiz.isMultiChoice" layout="row" layout-align="start center" layout-padding>
                    <md-button class="md-primary" ng-click="addChoice()">Add choice</md-button>
                </div>
                <md-list ng-show="quiz.isMultiChoice">
                    <md-list-item ng-repeat="choice in quiz.choices">
                        <div flex="80" layout="row">
                            <md-icon ng-click="removeChoice(choice.index)">clear</md-icon>
                            <md-input-container flex-gt-xs flex="80">
                                <label>Content</label>
                                <input ng-model="choice.content" name="content">
                            </md-input-container>
                        </div>
                        <upload-image ng-model="choice.anwserImage"></upload-image>
                        <md-checkbox class="md-secondary" ng-model="choice.correct"></md-checkbox>
                    </md-list-item>
                </md-list>
                <upload-image id="choice.index" ng-model="quizImage"></upload-image>
                <md-progress-linear md-mode="determinate" ng-show="quizImageUploadProgress" value="{{quizImageUploadProgress}}"></md-progress-linear>
            </form>
        </md-card-content>

        <div class="md-actions" layout="row" layout-align="end center">
            <md-button ng-click="save(quiz)" class="md-primary">Save</md-button>
            <md-button ng-click="back()">Cancel</md-button>
        </div>
    </md-card>
</md-content>