<md-content class="md-padding">
    <md-card>
        <md-card-title>
            <h1>Create</h1>
        </md-card-title>

        <md-card-content>
            <form name="headerFields">
                <div layout="row">
                    <md-input-container flex="60">
                        <label>Question</label>
                        <input ng-model="quiz.question" name="question" required>
                        <div ng-messages="headerFields.question.$error" ng-if="headerFields.question.$dirty"
                             role="alert" multiple>
                            <div ng-message="required">This field is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <md-switch ng-model="quiz.isMultiChoice">
                    Multiple-choice
                </md-switch>
                <div ng-hide="quiz.isMultiChoice" layout="row">
                    <md-input-container flex="60">
                        <label>Answer</label>
                        <input ng-model="quiz.answer" md-maxlength="30" name="answer" required>
                        <div ng-messages="headerFields.answer.$error" ng-if="headerFields.answer.$dirty" role="alert"
                             multiple>
                            <div ng-message="required">This field is required.</div>
                            <div ng-message="md-maxlength">The answer has to be less than 30 characters long.</div>
                        </div>
                    </md-input-container>
                </div>

                <div ng-show="quiz.isMultiChoice" layout="row" layout-align="start center" layout-padding>
                    <md-button class="md-primary" ng-click="addChoice()">Add choice</md-button>
                </div>

                <md-list ng-show="quiz.isMultiChoice" flex="70">
                    <div ng-repeat="choice in quiz.choices" layout="row">
                        <md-checkbox ng-model="choice.correct"></md-checkbox>
                        <md-input-container flex="80">
                            <label>Content</label>
                            <input ng-model="choice.content" name="content">
                        </md-input-container>
                        <upload-image ng-model="choice.anwserImage"></upload-image>
                        <md-icon class="md-secondary" ng-click="removeChoice(choice.index)" flex="5">clear</md-icon>
                    </div>
                </md-list>
                <upload-image id="choice.index" ng-model="quizImage"></upload-image>
                <md-chips>
                    <md-chip ng-repeat="category in defaultCategories">
                        {{ category }}
                    </md-chip>
                </md-chips>
                <md-progress-linear md-mode="determinate" ng-show="quizImageUploadProgress"
                                    value="{{quizImageUploadProgress}}"></md-progress-linear>
            </form>
        </md-card-content>

        <div class="md-actions" layout="row" layout-align="end center">
            <md-button ng-click="save(quiz)" class="md-primary">Save</md-button>
            <md-button ng-click="back()">Cancel</md-button>
        </div>
    </md-card>
</md-content>